body {
    background-color: #fff;
}

ul {
    border: 1px solid #000;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    background: #ddd;
    margin-bottom: 3px;
    padding: 20px;
}

ul li:hover {
    background: #ccc;
}

/* Form Section */
.input_holder {
    padding: 20px;
}

.form_field {
    padding-bottom: 10px;
}

.form_field label {
    margin-bottom: 2px;
    display: block;
}

/* List Section */
.icon_holder {
    text-align: right;
}

.icon_holder svg {
    cursor: pointer;
}